import turtle


def perform_switch_case(state, t, turn):
    x = round(t.position()[0] / 10)
    y = round(t.position()[1] / 10)
    num_turns = 5

    {% for state in state_list %}
    if state == "{{ state }}":
        {% for transition in state_list[state] %}
        if {{ transition.condition }}:
            state = "{{ transition.state_to }}"
            {% for action in transition.actions_after %}
            {% if ( (action.startswith('setheading')) or
                    (action.startswith('forward')) ) %}
            t.{{ action }}  # {{ transition.actions_after[action] }}
            {% else %}
            {{ action }}  # {{ transition.actions_after[action] }}
            {% endif %}
            {% endfor %}
            return state, turn
        {% endfor %}
    {% endfor %}


def draw():
    start_state = "{{ start_state }}"
    end_state = "{{ end_state }}"
    curr_state = start_state
    t = turtle.Turtle()
    turn = 1

    while curr_state != end_state:
        curr_state, turn = perform_switch_case(curr_state, t, turn)
    turtle.done()


if  __name__ == "__main__":
    draw()
